.pjb3e68sa .OPjb3ebgjg {
    margin-top: 8px !important;
}

.pjb3e68sa .OPjb3ebgk1a {}

.pjb3e68sa .OPjb3ebgji {
    margin-top: 7px !important;
}

.pjb3e68sa .OPjb3eqt28 {
    margin-top: 0px !important;
}

.pjb3e68sa .OPjb3ebgk3y {
    margin-top: 16px !important;
}

.pjb3e68sa .OPjb3ebgk4t {}

.pjb3e68sa .OPjb3ekj9i {
    margin-top: 16px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pjb3e68sa .OPjb4d6zxf {
    padding-left: 16px !important;
    padding-right: 0px !important;
}

.pjb3e68sa .OPjb4dlq6l {
    margin-left: 0px !important;
}

.pjb3e68sa .OPjb3ekj9ol {
    margin-left: 16px !important;
}

.pjb3e68sa .OPjb3ekj9pm {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.pjb3e68sa .OPjb3ekj9qg {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
}

.pjb3e68sa .OPjb3ekj9mx {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    margin-top: 12px !important;
}

.pjb3e68sa .OPjbdd904n {
    width: 100% !important;
}

.pjb3e68sa .OPjbczf9ri {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.pjb3er0fx .OPjb3f2dvm {
    margin-top: 8px !important;
}

.pjb3er0fx .OPjb3f2dvn {}

.pjb3er0fx .OPjb3f2dvzs {
    margin-top: 7px !important;
}

.pjb3er0fx .OPjb3f2dw0c {
    margin-top: 0px !important;
}

.pjb3er0fx .OPjb3f2dw1m {
    float: left !important;
    margin-top: 7px !important;
    margin-right: 4px !important;
}

.pjb3er0fx .OPjb3f2dw5o {
    margin-top: 16px !important;
}

.pjb3er0fx .OPjb3f2dw6h {}

.pjb3er0fx .OPjb3f2dw2a {
    margin-top: 16px !important;
}

.pjb3er0fx .OPjb3f2dw7l {}

.pjb3er0fx .OPjb3f2dw6l {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
}

.pjb3er0fx .OPjb3f2dwae {
    margin-top: 16px !important;
}

.pjb3er0fx .OPjb3f2e7oq {}

.pjaw65lhs .OPjb1x227f {}

.pjaw65lhs .OPjb1x227g {}

.pjaw65lhs .OPjb1wwtlm {}

.pjaw65lhs .OPjb1x227sf {}

.pjaw65lhs .OPjb1wwtlrm {}

.pjaw65lhs .OPjaw6g6yd {
    text-align: center !important;
    margin-top: 8px !important;
}

.pjavxag93 .OPjaxic4ee {}

.pjaw6zrp8 .OPjb1wuogjf {}

.pjaw6zrp8 .OPjb1wuogb {}

.pjaw6zrp8 .OPjb1wuoga {}

.pjaw6zrp8 .OPjaw73o5j {
    padding-top: 8px !important;
    text-align: center !important;
}

.pjbdbdwi0 .OPjaxic4ee {}

.pjb3f3jz8 .OPjb3hejb1 {
    margin-top: 8px !important;
}

.pjb3f3jz8 .OPjb3f6hld {
    margin-top: 0px !important;
    padding-left: 0px !important;
}

.pjb3f3jz8 .OPjb3i1wg1 {
    padding-bottom: 0px !important;
}

.pjb3f3jz8 .OPjb3hejbfn {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.pjb3f3jz8 .OPjb3hejbdj {
    margin-top: 0px !important;
}

.pjb3f3jz8 .OPjb4dozyy {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.pkqhtix7q .OPk6vrv040{
	    width: 49%;
    height: 50px;
    border-radius: 0px;
    font-size: 18px;
}
.pjb3f3jz8 .OPjb3i3ekg {
    margin-top: 8px !important;
}

.pjb4s7gec .OPjb4slxn2i {
    padding-bottom: 0px !important;
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

.pjb4s7gec .OPjb4slxn3g {
    font-size: 14px !important;
}

.pjb4s7gec .OPjb4s97z8 {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 16px !important;
}

.pjb4s7gec .OPjb4slxms {
    padding-left: 20px !important;
    padding-right: 8px !important;
    padding-bottom: 4px !important;
}

.pjb4s7gec .OPjb4sd8qj {
    text-align: right !important;
}

.pjb4s7gec .OPjb4srxjb {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 16px !important;
    padding-bottom: 0px !important;
}

.pjb4s7gec .OPjb4slxn2c {
    padding-left: 20px !important;
    padding-right: 10px !important;
    margin-bottom: 4px !important;
}

.pjb4s7gec .OPjb4slxmt {
    text-align: right !important;
}

.pjb4s7gec .OPjb4ss6y6 {}

.pjb4s7gec .OPjb4svqcf {
    padding-bottom: 0px !important;
}

.pjb4s7gec .OPjb4svqcg {}

.pjb4s7gec .OPjb4swxyf {
    padding-left: 16px !important;
    padding-right: 16px !important;
    margin-top: 16px !important;
}

.pjb4s7gec .OPjb4swxyll {}

.pjbbzsksb .OPjaw9jlus {
    margin-top: 8px !important;
}

.pjbbzsksb .OPjaw9bsmz {
    margin-top: 0px !important;
}
.pkqhtix7q .OPjntnv5i5b{
	width: 24%;
	display: inline-block;
	    height: 44px;
    line-height: 44px;
    text-align: center;
        font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #666666;
}
.pjbbzsksb .OPjaw9aoi4 {
    float: left !important;
    margin-right: 8px !important;
}

.pjbbzsksb .OPjaw9aoi5 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.pjbbzsksb .OPjaw9aoiay {
    float: left !important;
    margin-top: 7px !important;
    margin-right: 4px !important;
}

.pjbbzsksb .OPjaw9aoicx {
    font-size: 14px !important;
}

.pjbbzsksb .OPjbbzvp0a {
    margin-top: 8px !important;
}

.pjbbzsksb .OPjaw9aoibr {
    margin-top: 16px !important;
}

.pjbbzsksb .OPjaw9aoida {}

.pjbbzsksb .OPjawczsen {
    margin-top: 16px !important;
}

.pjbbzsksb .OPjawczseus {}

.pjbbzsksb .OPjawdfazv {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pjbbzsksb .OPjawdfazw {
    margin-top: 16px !important;
}

.pjbbzsksb .OPjawdfazt {
    font-size: 12px !important;
    text-align: center !important;
}

.pjbbzsksb .OPjb7ixmaf {}

.pjbbzsksb .OPjb7ixmapb {}

.pjbbzsksb .OPjb7ixmaqy {}

.pjblsklme .OCjblskqnik {}

.pjblsklme .OCjblskqntq {}

.pjblsklme .OCjblskqnri {}

.pjblsklme .OCjblskqo2g {}

.pjblsklme .OPjblskqo4f {}

.pjblsklme .OPjblskqobx {
    text-align: center !important;
    margin-top: 8px !important;
}

.pjaw8y1q0 .OPjaw9jlus {
    margin-top: 8px !important;
}

.pjaw8y1q0 .OPjaw9bsmz {
    margin-top: 0px !important;
}

.pjaw8y1q0 .OPjaw9aoi4 {
    float: left !important;
    margin-right: 8px !important;
}

.pjaw8y1q0 .OPjaw9aoi5 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.pjaw8y1q0 .OPjaw9aoiay {
    float: left !important;
    margin-top: 5px !important;
    margin-right: 4px !important;
}

.pjaw8y1q0 .OPjaw9aoicx {
    font-size: 14px !important;
    float: left !important;
}

.pjaw8y1q0 .OPjbn7os5y {
    float: left !important;
    margin-top: 5px !important;
    margin-left: 16px !important;
    margin-right: 4px !important;
}

.pjaw8y1q0 .OPjbn7os5x {}

.pjaw8y1q0 .OPjaw9aoibr {
    margin-top: 16px !important;
}

.pjaw8y1q0 .OPjaw9aoida {}

.pjaw8y1q0 .OPjawczsen {
    margin-top: 16px !important;
}

.pjaw8y1q0 .OPjawczseus {}

.pjaw8y1q0 .OPjawdfazv {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pjaw8y1q0 .OPjawdfazw {
    margin-top: 16px !important;
}

.pjaw8y1q0 .OPjawdfazt {
    font-size: 12px !important;
    text-align: center !important;
}

.pjaw8y1q0 .OPjb7ixmaf {}

.pjaw8y1q0 .OPjb7ixmapb {}

.pjaw8y1q0 .OPjb7ixmaqy {}

.pjbcydyxy .OPjavxaaq1 {}

.pjbcydyxy .OPjavxaaqcu {}

.pjbcydyxy .OPjavxaaqby {}

.pjbcydyxy .OPjbcyeo3s {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.pjbcydyxy .OPjbcyeo3t {
    width: 90% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.pjavwx8zi .OPjavxaaq1 {}

.pjavwx8zi .OPjavxaaqcu {}

.pjavwx8zi .OPjavxaaqby {}

.pjb4f3ovq {
    margin-top: 8px !important;
}

.pjb4f3ovq .OPjbbystlt {
    padding-left: 20px !important;
    padding-right: 02px !important;
}

.pjb4f3ovq .OPjb4f7trl {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    font-size: 16px !important;
}

.pjb4f3ovq .OPjbbystlu {
    padding-right: 12px !important;
}

.pjb4f3ovq .OPjb4f7j8r {
    text-align: left !important;
    float: right !important;
    font-size: 12px !important;
}

.pjb4f3ovq .OPjbenwfu3 {
    font-size: 16px !important;
    float: right !important;
    margin-top: 2px !important;
    margin-right: 4px !important;
}

.pjb4f3ovq .OPjbd0uip8 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pjb4f3ovq .OPjbbyxcr0 {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 16px !important;
}

.pjb1sfxrd .OPjb1sgfkq {}

.pjblnytar .OPjblnyzk9 {}

.pjblnytar .OCjblnyzlmr {}

.pjblnytar .OCjblnyzlpq {}

.pjblnytar .OCjblnyzmdr {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.pjblnytar .OPjblnyzmem {
    width: 90% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.pjblnxzm9 .OPjblny5ak {}

.pjblnxzm9 .OCjblny5b9f {}

.pjblnxzm9 .OPjblny5bdo {}

.pjblnxzm9 .OCjblny5byb {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.pjblnxzm9 .OCjblny5bvo {
    width: 90% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.pjawdqq89 .OPjawdtgrr {
    margin-top: 16px !important;
}

.pjawdqq89 .OPjawdtgrvw {}

.pjawdqq89 .OPjb1k3b0d {
    margin-top: 16px !important;
}

.pjawdqq89 .OPjb1k3b0c {}

.pjbenxl7m .pjb4f3ovq {
    margin-top: 8px !important;
}

.pjbenxl7m .OPjbbystlt {
    padding-left: 20px !important;
    padding-right: 02px !important;
}

.pjbenxl7m .OPjbenzzwb {}

.pjbenxl7m .OPjbenz3dm {
    font-size: 12px !important;
}

.pjbenxl7m .OPjbbystlu {
    padding-right: 12px !important;
}

.pjbenxl7m .OPjb4f7j8r {
    text-align: left !important;
    float: right !important;
    font-size: 12px !important;
}

.pjbenxl7m .OPjbenwfu3 {
    font-size: 16px !important;
    float: right !important;
    margin-top: 2px !important;
    margin-right: 4px !important;
}

.pjbenxl7m .OPjbd0uip8 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pjbenxl7m .OPjbbyxcr0 {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 16px !important;
}

.pjb3iv18t .OPjb3izzcc {
    margin-top: 8px !important;
}

.pjb3iv18t .OPjbd0we1w {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pjb3iv18t .OPjb3iycek {
    margin-top: 16px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.cjavtugg4 .bh-ddb-item {
    width: 50%;
}

.pjavwx8zi .OPjdjwm0gvx {}

.pjb4f3ovq {
    margin-top: 8px !important;
}

.pjb4f3ovq .OPjdjwm3nl {
    padding-left: 20px !important;
    padding-right: 02px !important;
}

.pjb4f3ovq .OPjdjwm3nva {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    font-size: 16px !important;
}

.pjb4f3ovq .OPjdjwm3nuo {
    padding-right: 12px !important;
}

.pjb4f3ovq .OPjdjwm3nux {
    text-align: left !important;
    float: right !important;
    font-size: 12px !important;
}

.pjb4f3ovq .OPjdjwm3nxr {
    font-size: 16px !important;
    float: right !important;
    margin-top: 2px !important;
    margin-right: 4px !important;
}

.pjb4f3ovq .OPjdjwm3nwb {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pjb4f3ovq .OPjdjwm3nwj {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 16px !important;
}

.pjb1sfxrd .OPjb1sgfkq {}

.pjblnytar .OPjdjwm1o6 {}

.pjaw65lhs .OPjejjpzbtf {
    float: left !important;
    max-width: calc(100% - 110px) !important;
    margin-right: 4px !important;
}

.pjaw65lhs .OPjejjpzbre {
    float: left !important;
    width: 100px !important;
    margin-top: 2px !important;
}

.sfjrdwzx{
	margin-top: 10px;
	font-size: 13px;
}

.ckdw{
	color: blue;
	margin-left: 8px;
}

.sendResult_image{
	text-align: center;
	padding-top: 20%;
}

.sendResult{
	text-align: center;
	margin-bottom: 40px;
}

#sfxj{
	padding-left: 30px;
  	color: rgb(6, 193, 174);
}

.sfxj-class{
	background-color: white;
  	height: 35px;
  	margin-bottom: 10px;
}

.queryTitle{
	 font-size:14px;
	 color: #43454F;
	 line-height: 20px;
	 margin-top: 8px;
}

.queryButton{
	 min-width: 100px;
	 color: #767A8C;
	 border-color: #edf2fb;
	 text-align: left;
	 float: left;
	 flex: 0 0 88px;
	 margin: 8px 8px 8px 0px;
	 border-width: 1px;
	 border-style: solid;
	 border-radius: 5px 5px 5px 5px;
	 padding: 8px 15px 8px 15px;
	 font-size: 12px;
}

.queryActive{
	 color: #52C7CA !important;
	 background-color: #e8f7f7 !important;
     border-color: #53c7ca !important;
}

.queryText{
	 line-height: 30px;
	 font-size: 12px;
	 text-align: center;
	 border-radius: 5px 5px 5px 5px;
}

.queryIcon{
	 vertical-align: middle;
	 float:right;
	 margin:8px 16px 0px 0px;
}

.pkadhnymm .OPkadhske8 {
 margin: 12px !important;
 border-radius: 50%;
}

.pkadhnymm .OPkadhskedp {
 color: #767A8C !important;
 margin-top: 8px !important;
}

.pkadhnymm .OPkadhskeej {
 color: #767A8C !important;
 margin-top: 6px !important;
}

.pkadhnymm .OPkadhwzsf {
 margin: 12px !important;
}

.pkadhnymm .OPkadhwzspu {
 color: #767A8C !important;
 margin-top: 8px !important;
}

.pkadhnymm .OPkadhwzsqa {
 color: #767A8C !important;
 margin-top: 6px !important;
}

.pkadhnymm .OPkadhwzsop {
 margin: 12px !important;
}

.pkadhnymm .OPkadhwzspm {
 color: #767A8C !important;
 margin-top: 8px !important;
}

.pkadhnymm .OPkadhwzswh {
 color: #767A8C !important;
 margin-top: 6px !important;
}

.pkadhnymm .OPkadiffuj {
 padding: 10px !important;
}

.pkadhnymm .OPkadiffupt {
 margin-bottom: 10px !important;
 margin-left: 10px !important;
 margin-right: 10px !important;
}

.pkadhnymm .OPkadiffupz {
 width: 32% !important;
 display: inline-block !important;
 font-size: 13px !important;
 flex: 0 0 32% !important;
}

.pkadhnymm .OPkadiffuqy {
 display: inline-block !important;
 width: 32% !important;
 font-size: 13px !important;
 flex: 0 0 32% !important;
}

.pkadhnymm .OPkadiffurm {
 width: 32% !important;
 display: inline-block !important;
 flex: 0 0 32% !important;
}

.pkadhnymm .OPkadixkq4 {
 padding: 10px !important;
}

.pkadhnymm .OPkadixkqiy {
 margin-bottom: 10px !important;
 margin-left: 10px !important;
 margin-right: 10px !important;
}

.pkadhnymm .OPkadixkq5 {
 width: 32% !important;
 display: inline-block !important;
 font-size: 13px !important;
 flex: 0 0 32% !important;
}

.pkadhnymm .OPkadixkqcz {
 display: inline-block !important;
 width: 32% !important;
 font-size: 13px !important;
 flex: 0 0 32% !important;
}

.pkadhnymm .OPkadixkqdv {
 width: 32% !important;
 display: inline-block !important;
 flex: 0 0 32% !important;
}

.pkadhnymm .OPkadixkqhm {
 padding: 10px !important;
}

.pkadhnymm .OPkadixkqhf {
 margin-bottom: 10px !important;
 margin-left: 10px !important;
 margin-right: 10px !important;
}

.pkadhnymm .OPkadixkqia {
 width: 32% !important;
 display: inline-block !important;
 font-size: 13px !important;
 flex: 0 0 32% !important;
}

.pkadhnymm .OPkadixkqlw {
 display: inline-block !important;
 width: 32% !important;
 font-size: 13px !important;
 flex: 0 0 32% !important;
}

.pkadhnymm .OPkadixkqkb {
 width: 32% !important;
 display: inline-block !important;
 flex: 0 0 32% !important;
}


.pkh09ekpn {
 padding-left: 16px !important;
 padding-top: 8px !important;
}

.pkh09ekpn .OPkh09wzvl {
 font-size: 14px !important;
 color: #43454F !important;
 line-height: 20px !important;
 margin-bottom: 8px !important;
}
.pkh09ekpn .OPkh0a4n0ci {
 width: calc(33% - 15px) !important;
 height: 30px;
 border-color: #edf2fb;
 text-align: left;
 float: left;
 flex: 0 0 88px ;
 margin-right: 16px;
 margin-top: 16px ;
 border-width: 1px;
 border-style: solid;
 border-radius: 5px 5px 5px 5px ;
 color: #767A8C; 
}
.pkh09ekpn .OPkh0a4n0ak {
 line-height: 30px;
 font-size: 12px;
 text-align: center;
 border-radius: 5px 5px 5px 5px;
 width: 100%;
}
.pkh09ekpn .OPkh0a9dfw {
 width: 100% !important;
 flex: 0 0 100% !important;
 padding-left: 0px !important;
 padding-right: 0px !important;
}
.pkh09ekpn .OPkh0a9dg6p {
 margin-right: 0px !important;
 margin-left: 0px !important;
 padding-right: 0px !important;
 padding-left: 0px !important;
}
.pkh09ekpn .OPkh0a9dg7t {
 border-color: #e9eaec !important;
 border-radius: 0px 0px 0px 0px !important;
}
.pkh09ekpn .OPkh0a9dg8i {
 margin-left: 0px !important;
 border-radius: 0px 0px 0px 0px !important;
}
.pkh09ekpn .OPkh0a9dgbr {
 	border-radius: 0px 0px 0px 0px !important;
}

.pkh09ekpn .sx-selected-tag,.sx-selected-yx-tag,.sx-selected-zy-tag,.sx-selected-bj-tag,.sx-selected-sy-tag,.sx-selected-sybj-tag {
 line-height: 30px !important;
 color: #52C7CA !important;
 font-size: 12px !important;
 text-align: center !important;
 background-color: #e8f7f7 !important;
 border-color: #53c7ca !important;
 border-width: 1px !important;
 border-style: solid !important;
 border-radius: 5px 5px 5px 5px !important;
}

.pjbcydyxy .xsqj-dwxj-xjsq {
	width: 50% !important;
    font-size: 18px !important;
    flex: 0 0 50% !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
    height: 44px!important;
}

.pjbcydyxy .xsqj-dwxj-xjsq2 {
	width: 100% !important;
    font-size: 18px !important;
    flex: 0 0 100% !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
    height: 44px!important;
}

.xxlc {
	font-size:14px;
	color:#52c7ca !important;
}

.pkqhtkjoe .OPkqhtt3j8 {
 background-color: #53c7ca !important;
}.pkqhtix7q .OPkqhtrdu1 {
 height: 40px !important;
 line-height: 40px !important;
 padding-left: 10px !important;
 padding-right: 10px !important;
}

.pkqhtix7q .OPkqhtviyd {
 width: 4px !important;
 height: 14px !important;
 background-color: #53c7ca !important;
 text-align: left !important;
 float: left !important;
 flex: 0 0 4px !important;
 margin-top: 13px !important;
}

.pkqhtix7q .OPkqhtviye {
 text-align: left !important;
 float: left !important;
 margin-left: 8px !important;
}

.pkqhtix7q .OPkqhu5ohi {

}

.pkqhtix7q .OPkqhu5ohnv {
 line-height: 76px !important;
 font-size: 14px !important;
 text-align: left !important;
 float: left !important;
 margin-left: 15px;
}

.pkqhtix7q .OPkqhu5ohoq {
 text-align: right !important;
 float: right !important;
 line-height: 76px !important;
 font-size: 14px !important;
 color: #4A90E2 !important;
 margin-right: 10px;
}

.pkqhtix7q .OPkqhu5ohpn {
 width: 100% !important;
 flex: 0 0 100% !important;
}

.jtqj-container-tab{
	width:100%;
	min-height: 150px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	margin-bottom: 16px;
}
.jtqj-container-tab-name{
	min-height: 50px;
	color: #92969C;
	font-family: 'PingFang-SC-Heavy', 'PingFang SC Heavy', 'PingFang SC', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    display: inline-block;
	vertical-align: middle;
	width: calc(100% - 80px);
	padding-top: 10px;
    padding-bottom: 10px;
    
}
.jtqj-container-tab-img{
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}
.jtqj-container-tab-qjsj{
	font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 14px;
    color: #92969C;
    display: inline-block;
  	vertical-align: middle;
    
}
.jtqj-container-tab-qjsj-time{
	color: #2F343B;
	font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 14px;
    display: inline-block;
    vertical-align: middle;
    
    
}
.jtqj-shlc-inline{
	display: inline-block;
    vertical-align: middle;
}

.jtqj-container-tab-lkxx{
    background-color: #fee2e2;
    color: #F26666;
    float: right;
    padding: 5px 10px;
    font-size: 12px;
    border-radius:5px;
	margin-top: 10px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}

.OPjfbvuua8 {
    text-align: center !important;
    font-size: 12px !important;
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

.jtqj-xq-bnt{
	width: 32%;
	height: 40px !important;
    border-radius: 2px !important;
}
.jtqj-xq-bnt-callback{
	width: 100%;
	height: 40px !important;
    border-radius: 2px !important;
}

.jtqj-xq-bnt-edit{
	width: 100%;
	height: 40px !important;
    border-radius: 2px !important;
}


.jtqj-ry-list-tab{
	    height: 50px;
    font-size: 16px;
    border-bottom: 1px solid #dcdcdc;
    line-height: 50px;
    padding-left: 16px;
    background-color: #ffffff;
}

.jtqj-qxjj-qjts .mint-cell-title{
	flex: 0 !important;
    min-width: 94px;
    margin-right: 8px;
}

.pkqhtix7q .OPjqnge2jf {
    background-color: #ffeaca !important;
    height: 38px !important;
    padding: 0px 8px !important;
    line-height: 30px !important;
}
.pkqhtix7q .OPjqnge2jg{
	    text-align: left !important;
    float: left !important;
    font-size: 12px !important;
    line-height: 38px !important;
    color: #FF7949 !important;
}
.xsqj-qjts-remind{
	display: block;
    color: black;
    min-height: 32px;
    background: #FFFDF5;
    border: 1px solid #FCECE7;
    line-height: 25px;
    margin-bottom: 10px;
}